
.card-title{
    text-align: center;
}

.card{
   text-align: center;
    width: 18rem;
    float: left;
}

.card-body2{
    padding-bottom: 40px;
    
}

.form-controle{
    
    
    display: block;
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
   
}

.form-row{
    padding-right: 90px;
}

#box{
    
    height: 70vh;
    max-height: 70vh;
  }
  h2{
    text-align: center;
  }
  